.ui-menubar,.ui-menu-child,.ui-menu, .ui-header {
    background: rgb(187, 187, 187)!important;
    color:#fff;
    margin:10px 0px 10px 0px;
}
.fontebranca a{
color:#fff;
}
.ui-menubar ,.ui-menu-child ,.ui-menu a {
	color:#fff;
}
.ui-menubar,.ui-menu-child,.ui-menu a:hover {
	background:#ccc;
}
.iu-button, .ui-commandButton {
	background:#ccc;
	margin:15px 15px 5px 0px;
	padding:10px;
	
	
}


.test {width:400px; height:300px; margin-left:42%;  }
.logo{
	padding:10px 10px 30px;
}
.formalinha{
	background:#141414;
}
#botaomarrom{
	background:#141414;
	color:#fff;
	text-shadow: none;
	border-color: #6a6a6a;
}
#botaomarrom:hover {
	background:#b8860b;
	color:#141414;
}
a {
	color:#141414;
	text-decoration:none;
}
a:hover{color:#b8860b;}